Day 5 will be devoted to recreating Minard's graph of Napolean's retreat. Datasets are in CSV files in this directory. You don't have to use python for this, but it would be the most educational. It's easy to copy the many tutorials that use R. Though if using python is overwhelming, following along with an R tutorial might be useful.  

There are several examples of this online. You can find some of them here: [datavis.ca/gallery/re-minard.php](http://www.datavis.ca/gallery/re-minard.php). I'd encourage you to try as much of this on your own as you're able. Copying others' code can be useful to a point, but much of what you learn won't be retained and so will be of limited value.

In [2]:
import os
import pandas as pd

troops = pd.read_csv(os.path.join('example_graph', 'minard_troops.csv'))
cities = pd.read_csv(os.path.join('example_graph', 'minard_cities.csv'))
temps = pd.read_csv(os.path.join('example_graph', 'minard_temps.csv'))


troops

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>lon</th>
      <th>lat</th>
      <th>survivors</th>
      <th>direction</th>
      <th>division</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>24.0</td>
      <td>54.9</td>
      <td>340000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>24.5</td>
      <td>55.0</td>
      <td>340000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>25.5</td>
      <td>54.5</td>
      <td>340000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>26.0</td>
      <td>54.7</td>
      <td>320000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>27.0</td>
      <td>54.8</td>
      <td>300000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>28.0</td>
      <td>54.9</td>
      <td>280000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>28.5</td>
      <td>55.0</td>
      <td>240000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>29.0</td>
      <td>55.1</td>
      <td>210000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>30.0</td>
      <td>55.2</td>
      <td>180000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>30.3</td>
      <td>55.3</td>
      <td>175000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>32.0</td>
      <td>54.8</td>
      <td>145000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>33.2</td>
      <td>54.9</td>
      <td>140000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>34.4</td>
      <td>55.5</td>
      <td>127100</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>35.5</td>
      <td>55.4</td>
      <td>100000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>36.0</td>
      <td>55.5</td>
      <td>100000</td>
      <td>A</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>37.6</td>
      <td>55.8</td>
      <td>100000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>37.5</td>
      <td>55.7</td>
      <td>98000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>37.0</td>
      <td>55.0</td>
      <td>97000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>36.8</td>
      <td>55.0</td>
      <td>96000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>35.4</td>
      <td>55.3</td>
      <td>87000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>34.3</td>
      <td>55.2</td>
      <td>55000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>21</th>
      <td>33.3</td>
      <td>54.8</td>
      <td>37000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>32.0</td>
      <td>54.6</td>
      <td>24000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>30.4</td>
      <td>54.4</td>
      <td>20000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>29.2</td>
      <td>54.4</td>
      <td>20000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>28.5</td>
      <td>54.3</td>
      <td>20000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>28.3</td>
      <td>54.4</td>
      <td>20000</td>
      <td>R</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>24.0</td>
      <td>55.1</td>
      <td>60000</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>28</th>
      <td>24.5</td>
      <td>55.2</td>
      <td>60000</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>29</th>
      <td>25.5</td>
      <td>54.7</td>
      <td>60000</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>30</th>
      <td>26.6</td>
      <td>55.7</td>
      <td>40000</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>31</th>
      <td>27.4</td>
      <td>55.6</td>
      <td>33000</td>
      <td>A</td>
      <td>2</td>
    </tr>
    <tr>
      <th>32</th>
      <td>28.7</td>
      <td>55.5</td>
      <td>30000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>33</th>
      <td>29.2</td>
      <td>54.3</td>
      <td>30000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>34</th>
      <td>28.5</td>
      <td>54.2</td>
      <td>30000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>35</th>
      <td>28.3</td>
      <td>54.3</td>
      <td>28000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>36</th>
      <td>27.5</td>
      <td>54.5</td>
      <td>20000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>37</th>
      <td>26.8</td>
      <td>54.3</td>
      <td>12000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>38</th>
      <td>26.4</td>
      <td>54.4</td>
      <td>14000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>39</th>
      <td>24.6</td>
      <td>54.5</td>
      <td>8000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>40</th>
      <td>24.4</td>
      <td>54.4</td>
      <td>4000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>41</th>
      <td>24.2</td>
      <td>54.4</td>
      <td>4000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>42</th>
      <td>24.1</td>
      <td>54.3</td>
      <td>4000</td>
      <td>R</td>
      <td>2</td>
    </tr>
    <tr>
      <th>43</th>
      <td>24.0</td>
      <td>55.2</td>
      <td>22000</td>
      <td>A</td>
      <td>3</td>
    </tr>
    <tr>
      <th>44</th>
      <td>24.5</td>
      <td>55.3</td>
      <td>22000</td>
      <td>A</td>
      <td>3</td>
    </tr>
    <tr>
      <th>45</th>
      <td>24.6</td>
      <td>55.8</td>
      <td>6000</td>
      <td>R</td>
      <td>3</td>
    </tr>
    <tr>
      <th>46</th>
      <td>24.2</td>
      <td>54.4</td>
      <td>6000</td>
      <td>R</td>
      <td>3</td>
    </tr>
    <tr>
      <th>47</th>
      <td>24.1</td>
      <td>54.3</td>
      <td>6000</td>
      <td>R</td>
      <td>3</td>
    </tr>
  </tbody>
</table>
</div>